<.flash_group flash={@flash} />
<div>
<h1 class="text-xl bg-gray-900 text-white text-xl py-4 text-center">Lost and found management system</h1>
<div class="bg-[url('/images/landing_page.jpg')] bg-cover h-screen flex flex-col items-center justify-around">
  <span> <a href="/login" class="bg-pink-800 hover:bg-pink-600 transition-colors px-10 py-4 text-white text-lg">Login</a> </span>
</div>
</div>
